$colors: (
  primary: (
    100: hsl(165, 10%, 100%),
    300: hsl(165, 15%, 95%),
    500: hsl(165, 25%, 85%),
  ),
  secondary: (
    100: hsl(145, 27%, 41%),
    300: hsl(145, 37%, 26%),
    500: hsl(145, 55%, 21%),
  ),
  accent-m: (
    100: hsl(8, 80%, 64%),
    300: hsl(8, 80%, 56%),
    500: hsl(8, 80%, 44%),
  ),
  accent: (
    100: hsl(207, 90%, 28%),
    300: hsl(207, 91%, 9%),
    500: hsl(207, 90%, 4%),
  ),
);
