$fonts: (
  // small is above 480px and under 800px
  small:
    (
      300: 0.9rem,
      400: 1rem,
      500: 1.125rem,
      550: 1.4rem,
      600: 2rem,
      700: 2.8rem,
      icon: 1.2rem,
      badge: clamp(1rem, 3vw, 1.5rem),
    ),
  //medium above 800px under 1040px
  medium:
    (
      300: 0.9rem,
      400: 1rem,
      500: 1.125rem,
      550: 1.75rem,
      600: 2rem,
      700: 3rem,
      icon: 1.2rem,
      badge: 1.7rem,
    ),
  //1040px and above large
  large:
    (
      //captions = 16
      300: 1rem,
      //body = 18
      400: 1.125rem,
      //h3 = 20
      500: 1.25rem,
      550: 2rem,
      //h2 = 48
      600: 3rem,
      //h1 = 64
      700: 4rem,
      // icons
      icon: 1.4rem,
      // badge text
      badge: 2rem
    )
);
//when it is under the break points
@font-face {
  font-family: 'El Messiri';
  src: url('/public/fonts/El_Messiri/ElMessiri-VariableFont_wght.ttf');
  font-weight: 400 700;
  font-display: swap;
}
@font-face {
  font-family: 'Amiri';
  src: url('/public/fonts/Amiri/Amiri-Regular.ttf');
  font-weight: 400 700;
  font-display: swap;
}
