.btn {
  cursor: pointer;
  font-family: 'El Messiri', sans-serif;
  &-cta {
    color: var(--clr-primary-300);
    background-color: var(--clr-accent-300);
    border: 1px solid var(--clr-primary-300);
    font-size: var(--fs-400);
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 0.8rem 1.6rem;
    border-radius: 0.25rem;

    &:hover {
      background-color: var(--clr-accent-500);
      transform: scale(1.01);
    }
    &:active {
      background-color: var(--clr-accent-100);
    }
  }
  &-buy {
    background-color: var(--clr-secondary-300);
    display: block;
    text-align: center;
    color: var(--clr-primary-300);
    padding: 0.5rem 0;
    margin-top: 1rem;
    font-size: var(--fs-300);
  }
}
