.shopping {
  stroke: var(--clr-primary-300);
  fill: none;
  svg {
    width: var(--fs-icon);
    height: var(--fs-icon);
  }
  &:hover {
    stroke: var(--clr-primary-500);
  }
}
.search {
  stroke: none;
  svg {
    fill: var(--clr-primary-300);
    width: calc(#{var(--fs-icon)} - (0.11 *#{var(--fs-icon)}));
    height: calc(#{var(--fs-icon)} - (0.11 *#{var(--fs-icon)}));
    &:hover {
      fill: var(--clr-primary-500);
    }
  }
}
.btn {
  cursor: pointer;
  font-family: 'El Messiri', sans-serif;
  &-cta {
    color: var(--clr-primary-300);
    background-color: var(--clr-accent-300);
    border: 1px solid var(--clr-primary-300);
    font-size: var(--fs-400);
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 0.8rem 1.6rem;
    border-radius: 0.25rem;

    &:hover {
      background-color: var(--clr-accent-500);
      transform: scale(1.01);
    }
    &:active {
      background-color: var(--clr-accent-100);
    }
  }
  &-buy {
    background-color: var(--clr-secondary-300);
    display: block;
    text-align: center;
    color: var(--clr-primary-300);
    padding: 0.5rem 0;
    margin-top: 1rem;
  }
}
