.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  &-image {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  a {
    width: clamp(50px, 100%, 150px);
  }
}
