.footer {
  background-color: var(--clr-secondary-300);
  padding: clamp(3.5rem, 10%, 5rem) 0 clamp(1.75rem, 5%, 2.5rem) 0;
  color: var(--clr-primary-300);
  font-size: var(--fs-300);
  &-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-accent-2-300);
    padding-bottom: clamp(0.5rem, 2%, 1rem);
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &-information {
    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    p a {
      display: block;
      text-decoration: underline;
      direction: ltr;
      text-align: right;
    }
  }

  &-links {
    display: flex;
    gap: 1rem;
    &-column {
      font-family: 'el Messiri';
      font-weight: 700;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.rights {
  margin-top: clamp(0.5rem, 2%, 1rem);
  direction: ltr;
}

@media (max-width: 600px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 1rem;
  }
  .footer-links {
    flex-direction: column;
  }
}

.social-media {
  a {
    display: inline-grid;
    place-content: center;
    max-width: 20px;
  }
  & > *:not(:last-child) {
    margin-left: 0.8rem;
  }
}

address {
  margin-top: 0.5rem;
}
