@use '../abstract/' as *;
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  color: var(--clr-primary-300);
  font-size: var(--fs-500);
  font-family: 'el messiri', sans-serif;
  background-color: var(--clr-secondary-300);
  z-index: 100;
}
.icons {
  display: none;
  background: none;
  color: var(--clr-primary-300);
  border: 0;
}
.nav-links {
  --gap: 2rem;
  display: flex;
  gap: var(--gap);
}
.flex {
  max-width: 1440px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-actions a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
i {
  font-size: var(--fs-icon);
  line-height: 1;
}
@media (max-width: 65em) {
  .header {
    padding: 1rem 5%;
  }
}
// mobile <800px
@media (max-width: 50em) {
  .icons {
    display: inline-flex;
    order: 1;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--clr-secondary-300);
    z-index: 99;
    //border-top: 1px solid var(--clr-primary-300);
    transition: opacity 0.5s ease-in-out;
  }
  .logo {
    order: 2;
  }
  .nav-actions {
    order: 3;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }
  .hide {
    opacity: 0;
    z-index: -10;
  }
  .hidden {
    display: none;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
