@use '../abstract/' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'El Messiri', sans-serif;
}
p,
li {
  text-wrap: pretty;
  max-width: 65ch;
}
[role='list'] {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
